

.center{
  text-align:center;
}

.homeBorder {
  border: 2px solid black ; 
  background-image: url("blur-book-stack-books-bookshelves-590493.jpg"); 
  background-position: center top;
  background-size: cover;
  color: white; 
}

.wordBorder{
  margin: 30;
}

.black{
  background-color: black;
}
